$dark: #d2bc80;
$med: #DFCFA4;
$main: #F6F5E4;
$main-text-color: #8e6d1e;
$links-color: #cd0a0a;
$global-background: $main;
$header-background: $main;
$banner-background: $main;
$products-background: $main;
$categories-background: $main;
$footer-background: $dark;
// uncomment to see the layout
// .columns {
// 	border: 1px solid red;
// }
h2,h3,h4,h5,h6 {
		color: $white;
}
.wrapper {
	background-color: $global-background;
}
.logoheader {
		background-color: $global-background;
		.container {
		background-color: $global-background;
	}
}
.banner {
	background-color: $banner-background;
	.container {
		width: 100%;
		max-width: 810px;
		background-color: $banner-background;
	}
	img {
		border: 5px solid white;
		margin-left: -5px;
	}
}
.products {
	background-color: $products-background;
	.container {
		background-color: $white;
	}
	h3 {
		font-size: 100%;
		color: $dark;
	}
	img {
		border: 1px solid white;
		border-radius: 10px;
	}
	.desc {
		color: $dark;
		font-family: sans-serif;
		font-weight: 100;
		padding-top: 10px;
	}
	p {
		font-family: sans-serif;
		font-weight: 100;
		color: $main-text-color;
	}
	.price {
		color: $med;
		font-family: sans-serif;
		font-weight: 100;
		font-size: 150%;
	}
	a {
		color: $links-color;
	}
}
.alt {
	.container {
		width: 100%;
		max-width: 610px;
		border: 5px solid white;
		background-color: $categories-background;
	}
	h3 {
		color: $main-text-color;
	}
	.desc {
		color: $main-text-color;
	}
}
.title {
	background-color: $global-background;
	.container {
		background-color: $global-background;
	}
	h2 {
		color: $med;
		font-family: sans-serif;
		font-weight: 100;
		.hashtag {
			text-decoration: underline;
		}
	}
}
.categories {
	background-color: $categories-background;
	.container {
		width:100%;
		max-width: 810px;
		background-color: $categories-background;
	}
	img {
		border: 2px solid white;
	}
	p {
		color: $main-text-color;
		font-family: sans-serif;
		font-weight: 100;
		padding-top: 10px;
	}
}
.footer {
	
	.container {
		border: 5px solid white;
		background-color: $dark;
	}
	p, a {
		color: $white;
		font-family: sans-serif;
		font-weight: 100;
	}
	a {
		color: $main-text-color;
	}
}