<wrapper class="banner"> 
  <container>
    <row>
      <columns small="12" large="12" valign="middle">
        <a href="{{>pLink2}}">
          <center>
            <img src="assets/img/banner.jpg">
          </center>
        </a>
      </columns>
    </row>
  </container>
</wrapper>