<wrapper class="title">
  <container>
    <spacer></spacer>
    <spacer></spacer>
    <row>
      <columns small="12" large="12" valign="middle">
        <h2 class="text-left"><em>#τοπ-κατηγορίες<em></h2>
      </columns>
    </row>
    <spacer></spacer>
  </container>
</wrapper>
<wrapper class="categories">
  <container>
    <spacer></spacer>
    <row>
      <columns small="6" large="3">
        {{>cat1}}
      </columns>
      <columns small="6" large="3">
        {{>cat2}}
      </columns>
      <columns small="6" large="3">
        {{>cat3}}
      </columns>
      <columns small="6" large="3">
        {{>cat4}}
      </columns>
    </row>
    <row>
      <columns small="6" large="3">
        {{>cat5}}
      </columns>
      <columns small="6" large="3">
        {{>cat6}}
      </columns>
      <columns small="6" large="3">
        {{>cat7}}
      </columns>
      <columns small="6" large="3">
        {{>cat8}}
      </columns>
    </row>
    <row>
      <columns small="6" large="3">
        {{>cat9}}
      </columns>
      <columns small="6" large="3">
        {{>cat10}}
      </columns>
      <columns small="6" large="3">
        {{>cat11}}
      </columns>
      <columns small="6" large="3">
        {{>cat12}}
      </columns>
    </row>
    <row>
      <columns small="6" large="3">
        {{>cat13}}
      </columns>
      <columns small="6" large="3">
        {{>cat14}}
      </columns>
      <columns small="6" large="3">
        {{>cat15}}
      </columns>
      <columns small="6" large="3">
        {{>cat16}}
      </columns>
    </row>
    <spacer></spacer>
  </container>
</wrapper>