<wrapper class="footer">
  <container>
  <spacer></spacer>
  <spacer></spacer>
  <row>
      <columns small="12" large="12">
        <p class="text-center">
            Copyright (C) *|CURRENT_YEAR|* *|LIST:COMPANY|* All rights reserved.
          </p>
      </columns>
    </row>
    <spacer></spacer>
    <row>
      <columns small="12" large="12">
        <p class="text-left">
            *|LIST:DESCRIPTION|* <br>

            <a href="*|UNSUB|*">Διαγραφή του</a> *|EMAIL|* απο αυτή τη λίστα.<br>

            *|HTML:LIST_ADDRESS_HTML|*<br>

            <a href="*|FORWARD|*">Προωθήστε αυτό το email σε έναν φίλο.</a><br>

            <a href="*|UPDATE_PROFILE|*">Αλλαγή προτιμήσεων</a>
        </p>
      </columns>
    </row>
  </container>
</wrapper>