<wrapper class="logoheader">
  <container>
    <row>
      <columns small="12" large="12">
        <a href="">
          <center>
              <img src="assets/img/logo.jpg">
          </center>
        </a>
      </columns>
      </row>
  </container>
</wrapper>