<wrapper class="title">
  <container>
    <spacer></spacer>
    <spacer></spacer>
    <row>
      <columns small="12" large="12" valign="middle">
        <h2 class="text-left"><em>#προτείνουμε<em></h2>
      </columns>
    </row>
    <spacer></spacer>
  </container>
</wrapper>
<wrapper class="products"> 
  <container>
    <spacer></spacer>
    <row>
      <columns small="12" large="4" valign="middle">
        <a href="{{>pLink1}}">
          <center>
            <img src="{{>pImage1}}">
          </center>
        </a>
        <spacer></spacer>
      </columns>
      <columns small="12" large="8" valign="middle">
        <spacer></spacer>
        <h3 class="text-center">
          <strong>{{>pName1}}</strong>
        </h3>
        <p class="text-left desc">
          {{>pDesc1}}
        </p>
        <spacer></spacer>
        <row>
          <columns small="6">
            <p class="text-left">
              τιμή: <span class="price">{{>pPrice1}}</span>
            </p>
          </columns>
          <columns small="6">
            <p class="text-right">
              <a href="{{>pLink1}}">περισσότερα...</a>
            </p>
          </columns>
        </row>
      </columns>
    </row>
  </container>
</wrapper>
<wrapper class="products alt"> 
  <container>
    <spacer></spacer>
    <row>
      <columns small="12" large="4" valign="middle">
        <a href="{{>pLink2}}">
          <center>
            <img src="{{>pImage2}}">
          </center>
        </a>
        <spacer></spacer>
      </columns>
      <columns small="12" large="8" valign="middle">
        <spacer></spacer>
        <h3 class="text-center">
          <strong>{{>pName2}}</strong>
        </h3>
        <p class="text-left desc">
          {{>pDesc2}}
        </p>
        <spacer></spacer>
        <row>
          <columns small="6">
            <p class="text-left">
              τιμή: <span class="price">{{>pPrice2}}</span>
            </p>
          </columns>
          <columns small="6">
            <p class="text-right">
              <a href="{{>pLink1}}">περισσότερα...</a>
            </p>
          </columns>
        </row>
      </columns>
    </row>
  </container>
</wrapper>
<wrapper class="products"> 
  <container>
    <spacer></spacer>
    <row>
      <columns small="12" large="4" valign="middle">
        <a href="{{>pLink3}}">
          <center>
            <img src="{{>pImage3}}">
          </center>
        </a>
        <spacer></spacer>
      </columns>
      <columns small="12" large="8" valign="middle">
        <spacer></spacer>
        <h3 class="text-center">
          <strong>{{>pName3}}</strong>
        </h3>
        <p class="text-left desc">
          {{>pDesc3}}
        </p>
        <spacer></spacer>
        <row>
          <columns small="6">
            <p class="text-left">
              τιμή: <span class="price">{{>pPrice3}}</span>
            </p>
          </columns>
          <columns small="6">
            <p class="text-right">
              <a href="{{>pLink1}}">περισσότερα...</a>
            </p>
          </columns>
        </row>
      </columns>
    </row>
  </container>
</wrapper>